<div class="table-responsive">
    <table class="table">
      <tr>
        <th>Truck Location</th>
        <th> Mobile Number</th>
        <th>Maximum Capacity</th>
        <th>Truck Number</th>
      </tr>
      <tr *ngFor="let item of model;let i = index">
        <td>{{item.truckLocation.freeformAddress}}</td>
        <td>{{item.mobNo}}</td>
        <td>{{item.capacity}} kg</td>
        <td><a  style ="cursor: pointer" (click) = "getTruckRoute(i)" data-toggle="tooltip" title="Click to Navigate and pick garbage">{{item.truckNumber}}</a></td>
       </tr>
     </table>
    </div>